.jumbotron {
	background-color: #ffd700;
}

footer {
	padding: 10px;
	background-color: black;
	margin-top: 10px;
	color: #B4B4B4;
}
.map-container-2{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-2 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
